body {
    background-color: #FFFFEC;
    height: 100vh;
}

header {
    background-color: #FFF;
    padding-left: 10%;
    padding-right: 10%;
    height: 10vh;
    text-align: center;
    border-bottom: 2px solid black;
    a {
        color: black;
    }
    button {
        background-color: #F7CCCC;
        border-radius: 5%;
    }
}

.connexion {
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;
        text-decoration: underline;
    }
}

.row {
    margin: 0;
}