body {
    background-color: #FFFFEC;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #FFF;
    padding-left: 10%;
    padding-right: 10%;
    height: 10vh;
    text-align: center;
    border-bottom: 2px solid black;
    a {
        color: black;
    }
    button {
        background-color: #F7CCCC;
        border-radius: 5%;
    }
}

.connexion {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .form {
        form {
            text-align: center;
            label {
                font-size: 1.05rem;
                margin-top: 7.5%;
            }
            .input-group {
                width: 100%;
                height: 40%;
                input {
                    width: 50%;
                    height: 45%;
                    margin: auto;
                    display: block;
                }
            }
            button {
                margin-top: 5%;
                width: 50%;
                height: 30%;
                background-color: #DAFFE2;
                border-radius: 5%;
                font-size: 1.2rem;
            }
        }
    }
}

.row {
    margin: 0;
}