body {
    background-color: #FFFFEC;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #FFF;
    padding-left: 10%;
    padding-right: 10%;
    height: 10vh;
    text-align: center;
    border-bottom: 2px solid black;
    a {
        color: black;
    }
    button {
        background-color: #F7CCCC;
        border-radius: 5%;
    }
}

/////////////
//CONNEXION//
/////////////
.connexion {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .form {
        form {
            text-align: center;
            label {
                font-size: 1.05rem;
                margin-top: 7.5%;
            }
            .input-group {
                width: 100%;
                height: 40%;
                input {
                    width: 50%;
                    height: 45%;
                    margin: auto;
                    display: block;
                }
            }
            button {
                margin-top: 5%;
                width: 50%;
                height: 25%;
                background-color: #DAFFE2;
                border-radius: 7.5%;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
}

////////////
//DEF//MDP//
////////////
.defmdp {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .form {
        form {
            text-align: center;
            label {
                font-size: 1.05rem;
                margin-top: 7.5%;
            }
            .input-group {
                width: 100%;
                height: 40%;
                input {
                    width: 50%;
                    height: 45%;
                    margin: auto;
                    display: block;
                }
            }
            button {
                margin-top: 5%;
                width: 50%;
                height: 25%;
                background-color: #DAFFE2;
                border-radius: 7.5%;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
}

//////////////
//FORMULAIRE//
//////////////
.formulaires {
    height: 80vh;
    width: 100%;
    text-align: center;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .content1 {
        margin-top: 5%;
        .inside1 {
            button#b1 {
                width: 60%;
                height: 27.5%;
                background-color: #DAFFE2;
                border-radius: 7.5%;
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 10%;
            }
            select {
                margin-top: 10%;
            }
            .buttonRow {
                margin-top: 5%;
                .buttonleft {
                    text-align: end;
                    button#b2 {
                        border-radius: 7.5%;
                        width: 70%;
                        background-color: #FFF5DA;
                        font-size: 1.2rem;
                    }
                }
                .buttonright {
                    text-align: start;
                    button#b3 {
                        border-radius: 7.5%;
                        width: 70%;
                        background-color: #FFDADA;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    button#b4 {
        margin-top: 6%;
        height: 7.5%;
        border-radius: 7.5%;
        width: 10%;
        background-color: #DAE2FF;
        font-size: 1.2rem;
        font-weight: 500;
    }
}

//formPDV//
.formPDV {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .formContent1 {
        .form7 {
            margin-top: 2.5%;
            form {
                margin-left: 7.5%;
                input#inp8 {
                    width: 55%;
                }
                select {
                    width: 45%;
                }
                label#lab9 {
                    margin-top: 5%;
                    width: 55%;
                }
            }
            button#b8 {
                margin-left: 3.5%;
                width: 50%;
                margin-top: 10%;
                height: 17.5%;
                background-color: #DAFFE2;
                font-size: 1.2rem;
                font-weight: 500;
                border-radius: 7.5%;
            }
        }
    }
}

///////
//BDD//
///////
.bdd {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;
        text-decoration: underline;
    }
}

//BddAdd//
.bddAdd {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .formBdd {
        margin-top: 2.5%;
        .form11 {
            form {
                .form11G {
                    text-align: end;
                    label {
                        width: 100%;
                        margin-top: 2.5%;
                    }
                    select {
                        height: 8.5%;
                        width: 67%;
                    }
                }
                .form11D {
                    label {
                        width: 100%;
                        margin-top: 2.5%;
                    }
                }
            }
            button#b12 {
                margin-left: 32.5%;
                width: 35%;
                margin-top: 10%;
                height: 14.5%;
                background-color: #DAFFE2;
                font-size: 1.2rem;
                font-weight: 500;
                border-radius: 7.5%;
            }
        }
    }
}

/////////////
//AFFICHAGE//
/////////////
.affichage {
    height: 80vh;
    width: 100%;
}

////////////
//FACTURES//
////////////
.factures {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .content4 {
        .form4 {
            form {
                margin-left: 7.5%;
                input#inp4 {
                    width: 55%;
                }
                select {
                    width: 55%;
                }
                label#lab4 {
                    margin-top: 5%;
                    width: 55%;
                }
                label#lab5 {
                    width: 45%;
                }
                input#inpc {
                    margin-top: 5%;
                }
            }
            button#b5 {
                margin-left: 7.5%;
                width: 55%;
                margin-top: 10%;
                height: 20%;
                background-color: #DAE2FF;
                font-size: 1.2rem;
                font-weight: 500;
                border-radius: 7.5%;
            }
        }
    }
}

/////////////////
//FICHES//ECOLES//
/////////////////
.ficheecoles {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .content5 {
        .form5 {
            margin-top: 5%;
            form {
                margin-left: 7.5%;
                label#lab6 {
                    width: 60%;
                }
                input#inp5 {
                    width: 60%;
                    margin-top: 2%;
                }
            }
            button#b6 {
                margin-left: 7.5%;
                width: 55%;
                margin-top: 25%;
                height: 35%;
                background-color: #DAE2FF;
                font-size: 1.2rem;
                font-weight: 500;
                border-radius: 7.5%;
            }
        }
    }
}

//////////////////////////////////
//ENREGISTREMENT//DES//COMMANDES//
//////////////////////////////////
.enregcommande {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        margin-top: 2.5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .content6 {
        .form6 {
            margin-top: 5%;
            form {
                margin-left: 7.5%;
                input#inp5 {
                    width: 55%;
                }
                select {
                    width: 55%;
                }
                label#lab7 {
                    margin-top: 5%;
                    width: 55%;
                }
                label#lab8 {
                    width: 45%;
                }
                input#inpc2 {
                    margin-top: 5%;
                }
            }
            button#b7 {
                margin-left: 7.5%;
                width: 50%;
                margin-top: 10%;
                height: 20%;
                background-color: #DAE2FF;
                font-size: 1.2rem;
                font-weight: 500;
                border-radius: 7.5%;
            }
        }
    }
}

//////////////////
//ADMINISTRATEUR//
//////////////////
.admin {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 2.5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .content7 {
        margin-top: 5%;
        text-align: center;
        h2 {
            text-decoration: underline;
        }
    }
}

//Produit//List//
.produitList {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 2.5%;
        font-weight: 400;
        text-decoration: underline;
    }
    button#b10 {
        left: 44%;
        position: absolute;
        width: 12%;
        margin-top: 2%;
        height: 7%;
        background-color: #DAFFE2;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 7.5%;
    }
}

.produitAdd {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 2.5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .formAddProduit {
        .form10 {
            margin-top: 2.5%;
            form {
                height: 100%;
                margin-left: 10%;
                select {
                    width: 45%;
                }
                label#lab11 {
                    margin-top: 5%;
                    width: 55%;
                }
                input {
                    margin-top: 2.5%;
                }
                input#inpc4 {
                    margin-top: 5%;
                }
            }
            button#b11 {
                width: 50%;
                margin-top: 10%;
                height: 17.5%;
                background-color: #DAFFE2;
                font-size: 1.2rem;
                font-weight: 500;
                border-radius: 7.5%;
            }
        }
    }
}

//Produit//Add//
//User//List//
.userList {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 2.5%;
        font-weight: 400;
        text-decoration: underline;
    }
    button#b9 {
        left: 44%;
        position: absolute;
        width: 12%;
        margin-top: 2%;
        height: 7%;
        background-color: #DAFFE2;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 7.5%;
    }
}

//Create//User//
.userCreate {
    height: 80vh;
    width: 100%;
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 2.5%;
        font-weight: 400;
        text-decoration: underline;
    }
    .formAddUser {
        .form9 {
            margin-top: 2.5%;
            form {
                height: 100%;
                margin-left: 10%;
                select {
                    width: 45%;
                }
                label#lab10 {
                    margin-top: 5%;
                    width: 55%;
                }
                input {
                    margin-top: 2.5%;
                }
                input#inpc3 {
                    margin-top: 5%;
                }
                button#b8 {
                    width: 50%;
                    margin-top: 10%;
                    height: 20%;
                    background-color: #DAFFE2;
                    font-size: 1.2rem;
                    font-weight: 500;
                    border-radius: 7.5%;
                }
            }
        }
    }
}

.row {
    margin: 0;
}