header {
    padding-left: 10%;
    padding-right: 10%;
    height: 10vh;
    text-align: center;
    border-bottom: 2px solid black;
    a {
        color: black;
    }
    button {
        background-color: #F7CCCC;
        border-radius: 5%;
    }
}